html {
  font-size: 8px;
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

html {
  position: relative;
  min-height: 70%;
}

table {
  width: 50%;
  vertical-align:middle;
  text-align:left;
}

body {
  margin-bottom: 60px;
}